body {
	font-family: Arial;
	background-color: rgb(90, 145, 246);
    display: flex;
    justify-content: center;
}


.container{
	background-color: white;
	display: inherit;
	padding: 10px 20px;
	border-radius: 25px;
	flex-direction: column;
	width: 70%;
}

.code{
	border:solid; 
	background-color: #282923; 
	color: white;
}

pre{
	white-space: pre-line;
	padding-left: 20px;
}

h3:first-child{
	text-align: center;
}

p, h3:not(:first-child){
	padding-left: 10px;
}


